

  <div class="container-fluid screen-wrapper">
    <app-admin-header></app-admin-header>
  <div class="row body-section">
    <div class="col-md-12">
      <div class="dashboard-section">
        <div class="row ud-header-wrapper">
          <div class="offset-md-1 col-md-10">
            <div class="row ud-header-row my-4">
              <div class="col-md-12 ud-header-col">
                <div class="ud-heading">Admin<span class="sub-heading">Home</span></div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
</div>
</div>
